body {
  font-size: 16px;
  line-height: 1.7;
  color: #111;
  font-family: "Noto Sans JP", sans-serif;
  background: #fafafa;
}

.inner {
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 768px) {
  .inner {
    padding-left: 30px;
    padding-right: 30px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

.heading {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .heading {
    margin-bottom: 56px;
    font-family: "Montserrat", sans-serif;
  }
}
.heading .heading-en {
  margin-bottom: 14px;
  color: #111;
  font-size: 38px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 3.8px;
  padding-left: 4px;
}
@media screen and (min-width: 768px) {
  .heading .heading-en {
    font-size: 50px;
    letter-spacing: 5px;
    padding-left: 1px;
  }
}
.heading .heading-ja {
  color: #111;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 1.12px;
}
@media screen and (min-width: 768px) {
  .heading .heading-ja {
    font-size: 16px;
    letter-spacing: 1.28px;
  }
}

.button {
  display: inline-block;
  border-radius: 60px;
  border: 2px solid currentColor;
  background: #fff;
  padding: 8px 28px;
  font-weight: 700;
  letter-spacing: 0.48px;
  font-size: 16px;
  line-height: 1.7;
  color: #111;
  min-width: 150px;
  text-align: center;
}
.button--type2 {
  background-color: #111;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .hidden-pc {
    display: none;
  }
}

.header .header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 22px 15px;
}
@media screen and (min-width: 768px) {
  .header .header__inner {
    max-width: 1170px;
    margin: 0 auto;
    padding-bottom: 21px;
  }
}
.header .header__logo {
  margin-top: -5px;
}
@media screen and (min-width: 768px) {
  .header .header__logo {
    margin-top: 7px;
  }
}
.header .header__logo .header__logo-img {
  width: 100px;
  height: 26px;
}
@media screen and (min-width: 768px) {
  .header .header__logo .header__logo-img {
    width: 135px;
    height: 35px;
  }
}
.header .header__nav .header__nav-list {
  display: none;
}
@media screen and (min-width: 768px) {
  .header .header__nav .header__nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 40px;
  }
}
.header .header__nav .header__nav-list .header__nav-item .header__nav-link {
  font-weight: 700;
  letter-spacing: 0.48px;
}
.header .header__open {
  margin-top: 3px;
}
@media screen and (min-width: 768px) {
  .header .header__open {
    display: none;
  }
}
.header .drawer-icon {
  width: 36px;
  height: 21px;
  position: relative;
  z-index: 51;
}
.header .drawer-icon.is-checked .drawer-icon__bar:nth-of-type(1) {
  top: 10px;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}
.header .drawer-icon.is-checked .drawer-icon__bar:nth-of-type(2) {
  display: none;
}
.header .drawer-icon.is-checked .drawer-icon__bar:nth-of-type(3) {
  top: 10px;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
}
.header .drawer-icon .drawer-icon__bar {
  width: 36px;
  height: 3px;
  border-radius: 6px;
  background: #111;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: top 0.3s linear, -webkit-transform 0.3s linear;
  transition: top 0.3s linear, -webkit-transform 0.3s linear;
  transition: transform 0.3s linear, top 0.3s linear;
  transition: transform 0.3s linear, top 0.3s linear, -webkit-transform 0.3s linear;
}
.header .drawer-icon .drawer-icon__bar:nth-of-type(1) {
  top: 0;
}
.header .drawer-icon .drawer-icon__bar:nth-of-type(2) {
  top: 9px;
}
.header .drawer-icon .drawer-icon__bar:nth-of-type(3) {
  top: 18px;
}

.drawer-content {
  width: 320px;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background: #f7ba1a;
  z-index: 50;
  padding: 86px 40px 40px;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
}
.drawer-content.is-checked {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.drawer-content .drawer-content__menu .drawer-content__link {
  display: block;
  padding-top: 14px;
  padding-bottom: 14px;
  text-align: right;
  font-weight: 700;
  letter-spacing: 0.48px;
}
.drawer-content .drawer-content__menu .drawer-content__button {
  margin-top: 14px;
  text-align: right;
}

.mv {
  max-width: calc(100% - 30px);
  margin: 0 auto;
  border-radius: 20px;
  background: -webkit-gradient(linear, left top, left bottom, from(#f8b819), to(#f0d320));
  background: linear-gradient(180deg, #f8b819 0%, #f0d320 100%);
  margin-bottom: 168px;
  margin-top: 1.5px;
}
@media screen and (min-width: 768px) {
  .mv {
    border-radius: 30px;
    max-width: calc(100% - 60px);
    margin-bottom: 158px;
  }
}
.mv .mv__inner {
  padding: 50px 0 255px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .mv .mv__inner {
    max-width: 1040px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    padding: 110px 30px 109px;
    max-width: 1070px;
  }
}
.mv .mv__inner .mv__content {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .mv .mv__inner .mv__content {
    text-align: left;
    margin-top: -3px;
    margin-left: -17px;
  }
}
.mv .mv__inner .mv__content .mv__lead {
  margin-bottom: 26px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .mv .mv__inner .mv__content .mv__lead {
    margin-bottom: 20px;
  }
}
.mv .mv__inner .mv__content .mv__lead .mv__lead-text {
  -webkit-font-feature-settings: "palt" on;
          font-feature-settings: "palt" on;
  font-size: 22px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 2.2px;
  padding: 10px;
  border-radius: 5px;
  background: #fff;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .mv .mv__inner .mv__content .mv__lead .mv__lead-text {
    font-size: 38px;
    letter-spacing: 3.8px;
    margin-left: 1.5px;
    padding: 12px 14px 13px 16px;
  }
}
.mv .mv__inner .mv__content .mv__lead .mv__lead1 {
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .mv .mv__inner .mv__content .mv__lead .mv__lead1 {
    margin-bottom: 14px;
  }
}
.mv .mv__inner .mv__content .mv__description {
  margin-bottom: 22px;
  font-weight: 700;
  letter-spacing: 0.48px;
}
@media screen and (min-width: 768px) {
  .mv .mv__inner .mv__content .mv__description {
    font-size: 18px;
    letter-spacing: 0.54px;
    margin-bottom: 30px;
    margin-left: 1.8px;
    margin-top: 0.5px;
  }
}
@media screen and (min-width: 768px) {
  .mv .mv__inner .mv__content .mv__btn {
    margin-left: 2px;
  }
}
.mv .mv__img-content {
  width: 100%;
  position: absolute;
  bottom: -108px;
  right: 0;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .mv .mv__img-content {
    width: 54.5454545455%;
    text-align: right;
    bottom: -88px;
    right: 18px;
  }
}
.mv .mv__img-content .mv__img {
  width: 345px;
}
@media screen and (min-width: 768px) {
  .mv .mv__img-content .mv__img {
    width: 600px;
    height: 579px;
  }
}

.case {
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .case {
    padding-bottom: 50px;
  }
}
.case .case__inner {
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .case .case__inner {
    max-width: 1000px;
    margin: 0 auto;
  }
}
.case .case__inner .case__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 1.8px;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .case .case__inner .case__title {
    font-size: 20px;
    letter-spacing: 2px;
    margin-bottom: 54px;
  }
}
.case .case__inner .case__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 22px 15px;
}
@media screen and (min-width: 768px) {
  .case .case__inner .case__items {
    grid-template-columns: repeat(4, 1fr);
    gap: 26px 40px;
  }
}
.case .case__inner .case__items .case__item {
  text-align: center;
}
.case .case__inner .case__items .case__item .case__img {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .case .case__inner .case__items .case__item .case__img {
    width: 200px;
  }
}

.news__inner {
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 768px) {
  .news__inner {
    padding-left: 30px;
    padding-right: 30px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

.news__card {
  border-radius: 20px;
  background: #fff;
  -webkit-box-shadow: 0px 9px 30px 0px #f4f4f4;
          box-shadow: 0px 9px 30px 0px #f4f4f4;
  padding: 40px 12px;
}
@media screen and (min-width: 768px) {
  .news__card {
    border-radius: 30px;
    padding-top: 40px;
    padding-bottom: 34px;
    padding-left: 9.2105263158%;
    padding-right: 9.2105263158%;
  }
}

.news__title {
  font-family: "Montserrat", sans-serif;
  font-size: 38px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 3.8px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .news__title {
    font-size: 50px;
    letter-spacing: 5px;
    text-align: left;
  }
}

.news__lists {
  margin-top: 28px;
}
@media screen and (min-width: 768px) {
  .news__lists {
    margin-top: 30px;
  }
}
.news__lists > * + * {
  position: relative;
}
.news__lists > * + *::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  top: 0;
  left: 0;
  background: #e3e3e3;
}

.news__list:nth-child(n+2) {
  position: relative;
}
.news__list:nth-child(n+2)::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  top: 0;
  left: 0;
  background: #e3e3e3;
}

.news__link {
  text-align: right;
  margin-top: 22px;
}
@media screen and (min-width: 768px) {
  .news__link {
    margin-top: 20px;
  }
}
.news__link a {
  font-weight: 700;
  line-height: 100%;
  display: inline-block;
  border-bottom: 2px solid currentColor;
  padding-bottom: 8px;
  vertical-align: top;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.news__link a:hover {
  color: #fabe00;
}

.news-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 7px;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
@media screen and (min-width: 768px) {
  .news-link {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-top: 12px;
    padding-bottom: 12px;
    gap: 0;
  }
}
.news-link:hover {
  background-color: #fff9e5;
}

.news-link__meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}
@media screen and (min-width: 768px) {
  .news-link__meta {
    width: 247px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    gap: 14px;
  }
}

.news-link__date {
  color: #333;
  white-space: nowrap;
}
@media screen and (min-width: 768px) {
  .news-link__date {
    width: 119px;
  }
}

.news-link__label {
  color: #fff;
  font-size: 11px;
  font-weight: 700;
  padding: 2px 10px;
  border-radius: 2px;
  background: #e4780c;
  min-width: 63px;
  text-align: center;
}
.news-link__label.is-news {
  background: #e4780c;
}
.news-link__label.is-column {
  background: #ecb815;
}
.news-link__label.is-event {
  background: #389b47;
}

.about {
  margin-top: 60px;
  margin-bottom: 60px;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .about {
    margin-top: 50px;
    padding-bottom: 100px;
  }
}
.about .about__inner .about__title {
  text-align: center;
}
.about .about__inner .about__title .about__title-logo {
  width: 180px;
}
@media screen and (min-width: 768px) {
  .about .about__inner .about__title .about__title-logo {
    width: 230px;
  }
}
.about .about__inner .about__content {
  margin-top: 150px;
  padding-top: 288px;
  padding-bottom: 105px;
  position: relative;
  text-align: center;
}
.about .about__inner .about__content::before {
  content: "";
  width: 1097px;
  height: 1097px;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(#f8b819), to(#f0d320));
  background: linear-gradient(180deg, #f8b819 0%, #f0d320 100%);
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: -1;
}
@media screen and (min-width: 768px) {
  .about .about__inner .about__content::before {
    width: 800px;
    height: 800px;
  }
}
@media screen and (min-width: 768px) {
  .about .about__inner .about__content {
    padding-top: 284px;
    padding-bottom: 100px;
    margin-top: 176px;
  }
}
.about .about__inner .about__content .about__img {
  position: absolute;
  text-align: center;
  top: -110px;
  left: 0;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .about .about__inner .about__content .about__img {
    top: -126px;
  }
}
.about .about__inner .about__content .about__img img {
  width: 320px;
}
@media screen and (min-width: 768px) {
  .about .about__inner .about__content .about__img img {
    width: 330px;
  }
}
.about .about__inner .about__content .about__text {
  color: #111;
  font-weight: 700;
  line-height: 2.3;
  margin-bottom: 43px;
}
@media screen and (min-width: 768px) {
  .about .about__inner .about__content .about__text {
    margin-bottom: 42px;
  }
}
.about .about__inner .about__content .about__pop {
  color: #111;
  text-align: center;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 1.28px;
  margin-bottom: 12px;
}
@media screen and (min-width: 768px) {
  .about .about__inner .about__content .about__pop {
    margin-bottom: 15px;
  }
}
.movie {
  padding: 60px 0;
  height: 412px;
  background: url(../img/section-bg.png) repeat top left/529px auto;
}
@media screen and (min-width: 768px) {
  .movie {
    height: auto;
    padding: 41px 0 100px;
    background: url(../img/section-bg.png) repeat top left/529px auto;
  }
}
.movie .movie__inner {
  padding: 0 15px;
  text-align: center;
}
.movie .movie__inner .movie__title {
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .movie .movie__inner .movie__title {
    margin-bottom: 56px;
  }
}
.movie .movie__inner .movie__title .movie__title-en {
  margin-bottom: 14px;
  padding-left: 4px;
}
@media screen and (min-width: 768px) {
  .movie .movie__inner .movie__title .movie__title-en {
    padding-left: 1px;
  }
}
.movie .movie__inner .movie__iframe iframe {
  width: 345px;
  max-width: 100%;
  height: auto;
  aspect-ratio: 345/194;
  vertical-align: top;
}
@media screen and (min-width: 768px) {
  .movie .movie__inner .movie__iframe iframe {
    width: 640px;
    height: auto;
    aspect-ratio: 640/360;
  }
}

.how-to-use {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .how-to-use {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.how-to-use__boxes {
  margin-top: 104px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 112px;
}
@media screen and (min-width: 768px) {
  .how-to-use__boxes {
    margin-top: 89px;
    gap: 75px;
  }
}

.how-to-use__box {
  border-radius: 30px;
  background: #fffbf0;
  padding: 54px 40px 48px;
}
@media screen and (min-width: 768px) {
  .how-to-use__box {
    border-radius: 40px;
    padding: 44px 10px 56px;
  }
}

.how-to-use__box-title {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1.8px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .how-to-use__box-title {
    font-size: 22px;
    letter-spacing: 2.2px;
    padding-right: 95px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }
}
.how-to-use__box-title img {
  width: 85px;
  position: absolute;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  bottom: calc(100% + 16px);
}
@media screen and (min-width: 768px) {
  .how-to-use__box-title img {
    right: 0;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .is-type2 .how-to-use__box-title {
    padding-right: 0;
    padding-left: 95px;
  }
  .is-type2 .how-to-use__box-title img {
    right: auto;
    left: 0;
  }
}

.how-to-use__steps {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .how-to-use__steps {
    margin-top: 40px;
    max-width: 948px;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 24px;
  }
}

@media screen and (min-width: 768px) {
  .how-to-use__step {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.step-box {
  padding-top: 45px;
  position: relative;
}

.step-box__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 3px solid #111;
  background: #f5810e;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.is-type2 .step-box__head {
  background-color: #fabe00;
}

.step-box__head-text {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 1.3px;
}

.step-box__head-number {
  font-family: "Montserrat", sans-serif;
  font-size: 34px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 3.4px;
  color: #fff;
  margin-top: 3px;
}

.step-box__body {
  border-radius: 30px;
  border: 3px solid #111;
  background: #fff;
  padding: 47px 10px 23px;
  text-align: center;
}

.step-box__image img {
  width: 160px;
}
@media screen and (min-width: 768px) {
  .step-box__image img {
    width: 200px;
  }
}

.step-box__text {
  font-weight: 700;
  letter-spacing: 0.48px;
  margin-top: 10px;
}

.merit {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .merit {
    padding-top: 100px;
    padding-bottom: 98px;
  }
}

.merit__boxes {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .merit__boxes {
    margin-top: 60px;
    gap: 40px;
  }
}

.merit-box {
  border-radius: 20px;
  background: #fff;
  padding: 10px 20px 24px;
}
@media screen and (min-width: 768px) {
  .merit-box {
    padding: 20px 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    gap: 50px;
  }
}
@media screen and (min-width: 768px) {
  .merit-box.is-reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 768px) {
  .merit-box__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    gap: 50px;
    max-width: 920px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .is-reverse .merit-box__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.merit-box__image {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .merit-box__image {
    width: 38.0434782609%;
  }
}
.merit-box__image img {
  width: 200px;
}
@media screen and (min-width: 768px) {
  .merit-box__image img {
    width: 350px;
  }
}

.merit-box__body {
  margin-top: 18px;
}
@media screen and (min-width: 768px) {
  .merit-box__body {
    margin-top: 0;
    width: 56.5217391304%;
  }
}

.merit-box__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 14px;
}
@media screen and (min-width: 768px) {
  .merit-box__head {
    gap: 28px;
  }
}

.merit-box__number {
  color: #fabe00;
  font-family: "Montserrat", sans-serif;
  font-size: 70px;
  font-weight: 600;
  line-height: 100%;
}
@media screen and (min-width: 768px) {
  .merit-box__number {
    font-size: 110px;
  }
}

.merit-box__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 1.6px;
}
@media screen and (min-width: 768px) {
  .merit-box__title {
    font-size: 20px;
    letter-spacing: 2px;
  }
}

.merit-box__text {
  margin-top: 10px;
  font-size: 14px;
  line-height: 200%;
}
@media screen and (min-width: 768px) {
  .merit-box__text {
    margin-top: 16px;
    font-size: 15px;
  }
}

.compare {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #fff;
}
@media screen and (min-width: 768px) {
  .compare {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.compare__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 100%;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .compare__title {
    font-size: 24px;
  }
}

.compare__content {
  margin-top: 40px;
  overflow-x: auto;
  padding-bottom: 38px;
}
@media screen and (min-width: 768px) {
  .compare__content {
    margin-top: 60px;
    padding-bottom: 0;
  }
}

.compare__table {
  width: 620px;
  table-layout: fixed;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .compare__table {
    width: 1000px;
  }
}
.compare__table th,
.compare__table td {
  text-align: center;
  font-weight: 700;
  height: 60px;
  vertical-align: middle;
}
@media screen and (min-width: 768px) {
  .compare__table th,
  .compare__table td {
    height: 100px;
  }
}
.compare__table th:nth-child(1),
.compare__table td:nth-child(1) {
  width: 130px;
}
@media screen and (min-width: 768px) {
  .compare__table th:nth-child(1),
  .compare__table td:nth-child(1) {
    width: 250px;
  }
}
.compare__table th:nth-child(2),
.compare__table td:nth-child(2) {
  width: 90px;
  background: #fff9e5;
  font-size: 16px;
  letter-spacing: 0.48px;
}
@media screen and (min-width: 768px) {
  .compare__table th:nth-child(2),
  .compare__table td:nth-child(2) {
    width: 250px;
    font-size: 25px;
    letter-spacing: 0.75px;
  }
}
.compare__table th:nth-child(2) img,
.compare__table td:nth-child(2) img {
  width: 70px;
}
@media screen and (min-width: 768px) {
  .compare__table th:nth-child(2) img,
  .compare__table td:nth-child(2) img {
    width: 123px;
  }
}
.compare__table th {
  letter-spacing: 0.48px;
}
@media screen and (min-width: 768px) {
  .compare__table th {
    font-size: 20px;
    letter-spacing: 0.6px;
  }
}
.compare__table td {
  font-size: 14px;
  letter-spacing: 0.42px;
}
@media screen and (min-width: 768px) {
  .compare__table td {
    font-size: 16px;
    letter-spacing: 0.48px;
  }
}
.compare__table thead th {
  letter-spacing: 1.6px;
}
@media screen and (min-width: 768px) {
  .compare__table thead th {
    letter-spacing: 2px;
  }
}
.compare__table tbody tr {
  border-top: 1.5px solid #000;
}
@media screen and (min-width: 768px) {
  .compare__table tbody tr {
    border-top-width: 3px;
  }
}
.compare__table tbody th,
.compare__table tbody td {
  height: 58.5px;
}
@media screen and (min-width: 768px) {
  .compare__table tbody th,
  .compare__table tbody td {
    height: 100px;
  }
}

.compare__attention {
  margin-top: 11px;
  color: #686868;
  font-size: 14px;
  font-weight: 700;
  line-height: 100%;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .compare__attention {
    display: none;
  }
}

.qa {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .qa {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@media screen and (min-width: 768px) {
  .qa__inner {
    padding-left: 30px;
    padding-right: 30px;
    max-width: 860px;
  }
}

.qa__boxes {
  margin-top: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 42px;
}
@media screen and (min-width: 768px) {
  .qa__boxes {
    margin-top: 74px;
  }
}

.qa-box {
  border-radius: 10px;
  border: 3px solid #111;
  background: #fff;
}
.qa-box.is-open .qa-box__head::after {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.qa-box__head {
  padding: 29px 37px 17px 12px;
  position: relative;
  display: block;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .qa-box__head {
    padding: 29px 77px 17px 17px;
  }
}
.qa-box__head::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 14px;
  width: 9.26px;
  height: 6.834px;
  background: url(../img/qa-arrow.png) no-repeat center center/contain;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  margin-top: 3px;
}
@media screen and (min-width: 768px) {
  .qa-box__head::after {
    right: 22px;
    right: 18px;
    margin-top: 2px;
  }
}

.qa-box__head-icon {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 100%;
  display: grid;
  place-items: center;
  width: 44px;
  height: 44px;
  border-radius: 22px;
  border: 3px solid #111;
  background: #f5810e;
  position: absolute;
  top: -26px;
  left: 12px;
}
@media screen and (min-width: 768px) {
  .qa-box__head-icon {
    left: 17px;
  }
}

.qa-box__head-text {
  display: block;
  text-align: left;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1.12px;
}
@media screen and (min-width: 768px) {
  .qa-box__head-text {
    font-size: 16px;
    line-height: 27px; /* 168.75% */
    letter-spacing: 1.28px;
  }
}

.qa-box__body {
  padding: 13px 14px 17px 12px;
  display: none;
}
@media screen and (min-width: 768px) {
  .qa-box__body {
    padding: 3px 33px 17px 17px;
  }
}

.qa-box__a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}
@media screen and (min-width: 768px) {
  .qa-box__a {
    gap: 10px;
  }
}

.qa-box__a-icon {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 100%;
  display: grid;
  place-items: center;
  width: 44px;
  height: 44px;
  border-radius: 22px;
  border: 3px solid #111;
  background: #fabe00;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.qa-box__a-text {
  display: block;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1.12px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-top: 10px;
}
@media screen and (min-width: 768px) {
  .qa-box__a-text {
    font-size: 16px;
    line-height: 27px; /* 168.75% */
    letter-spacing: 1.28px;
    padding-top: 7px;
  }
}

.gallery {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .gallery {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@media screen and (min-width: 768px) {
  .gallery__inner {
    padding-left: 30px;
    padding-right: 30px;
    max-width: 860px;
  }
}

.gallery__slider {
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .gallery__slider {
    margin-top: 60px;
  }
}

.gallery__swiper {
  padding-bottom: 26px;
  padding-right: 5px;
  padding-left: 5px;
  margin-right: -5px;
  margin-left: -5px;
}
@media screen and (min-width: 768px) {
  .gallery__swiper {
    padding-right: 80px;
    padding-left: 80px;
    margin-right: 0;
    margin-left: 0;
  }
}

.gallery__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 12px;
  bottom: 0 !important;
}
.gallery__pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  margin-left: 0 !important;
  margin-right: 0 !important;
  background: #bcbcbc;
  opacity: 1;
}
.gallery__pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #fabe00;
}

.gallery__prev,
.gallery__next {
  width: 40px;
  height: 40px;
  margin-top: -38px;
}
@media screen and (min-width: 768px) {
  .gallery__prev,
  .gallery__next {
    width: 50px;
    height: 50px;
    margin-top: -60px;
  }
}
.gallery__prev::after,
.gallery__next::after {
  display: none;
}

.gallery__prev {
  left: 0;
  background: url(../img/prev-icon.png) no-repeat center center/contain;
}
@media screen and (min-width: 768px) {
  .gallery__prev {
    left: 10px;
  }
}

.gallery__next {
  right: 0;
  background: url(../img/next-icon.png) no-repeat center center/contain;
}
@media screen and (min-width: 768px) {
  .gallery__next {
    right: 10px;
  }
}

.gallery-card {
  border-radius: 20px;
  border: 3px solid #111;
  background: #fff;
  -webkit-box-shadow: 0px 9px 30px 0px #f4f4f4;
          box-shadow: 0px 9px 30px 0px #f4f4f4;
  padding: 12px 12px 9px 12px;
}
@media screen and (min-width: 768px) {
  .gallery-card {
    border-radius: 30px;
    padding: 17px 17px 15px 17px;
  }
}

.gallery-card__image {
  text-align: center;
}
.gallery-card__image img {
  border-radius: 10px;
}
@media screen and (min-width: 768px) {
  .gallery-card__image img {
    border-radius: 20px;
  }
}

.gallery-card__text {
  margin-top: 11px;
  text-align: center;
  font-size: 14px;
}
@media screen and (min-width: 768px) {
  .gallery-card__text {
    margin-top: 18px;
    font-size: 16px;
  }
}

.about-modal {
  position: fixed;
  inset: 0;
  margin: auto;
  max-width: calc(100% - 30px);
  max-height: calc(100% - 40px);
  overflow: auto;
  padding: 16px 15px 64px;
  border-radius: 20px;
  background: #fff;
  border: none;
  z-index: 60;
}
@media screen and (min-width: 768px) {
  .about-modal {
    width: 1140px;
    padding: 49px 70px 75px;
  }
}
.about-modal::-ms-backdrop {
  opacity: 0.2;
  background: #000;
}
.about-modal::backdrop {
  opacity: 0.2;
  background: #000;
}

.about-modal__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: sticky;
  top: 0;
}

.about-modal__close-icon img {
  width: 37px;
}

.about-modal__body {
  margin-top: 12px;
}
@media screen and (min-width: 768px) {
  .about-modal__body {
    margin-top: 43px;
  }
}
.about-modal__body p {
  font-size: 14px;
}
@media screen and (min-width: 768px) {
  .about-modal__body p {
    font-size: 16px;
  }
}
.about-modal__body p:nth-child(n+2) {
  margin-top: 20px;
}

.about-modal__close-button {
  margin-top: 30px;
  text-align: center;
}